* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Open Sans",sans-serif;
    overflow-x: hidden;
}

.header {
    width: 100vw;
    height: 70px;
    background-color: #fff;
}

.header--menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    margin-left: auto;
    margin-right: 20px;
}

.header--menu--bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-bottom: 4px;
    border-radius: 5px;
}

.header nav {
    top: 0;
    left: -100%;
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-width: 250px;
    background-color: #000000d0;

    transition: 0.4s ease;
}

.menu-active {
    left: 0% !important;
}

.header nav ul li {
    margin-bottom: 10px;
    text-align: center;
}

.header nav ul li:first-child {
    margin-top: 50px;
}

.header nav ul li a {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
}

.main {
    width: 100vw;
}

.main--banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-image: url('../images/truck-banner.jpeg');
}

.main--banner h1 {
    font-family: "Oswald", sans-serif;
    font-size: 4.5rem;
    line-height: 40px;
    color: #fff;
    max-width: 300px;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #000;
    margin-bottom: 10px;
}

.main--banner h2 {
    font-size: 1.8rem;
    color: #fff;
    max-width: 300px;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #000;
}

.main--truck01 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main--truck-wrapper {
    background-image: url('../images/red-wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-left: 20px;
    padding-top: 20px;
}

.main--truck01 h3 {
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}

.main--truck01 h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: white;
}

.main--truck01 p {
    font-size: 1.6rem;
    color: white;
    max-width: 300px;
    text-align: left;
    margin: 20px 0;
}

.main--truck01 button {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    color: white;
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
}

.main--truck01 figure {
    display: block;
    width: 100%;
}

.main--truck01 figure img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.main--truck-models {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.main--truck-models div {
    max-width: 400px;
    padding-top: 20px;
}

.main--truck-models h2 {
    font-family: "Oswald", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    color: #A81C1D;
}

.main--truck-models p {
    font-size: 1.6rem;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    line-height: 25px;
    color: #818181;
    margin: 5px 0;
    margin-right: 15px;
    max-width: 400px;
}

.main--truck-models figure {
    width: 100%;
    margin: 10px 0;
}

.main--truck-models figure img {
    padding: 10px;
    width: 100%;
    max-width: 350px;
    object-fit: contain;
}

.main--truck-models button {
    color: #ffffff;
    background-color: #A81C1D;

    width: 150px;
    height: 40px;
    border: 0px;
}


@media screen and (min-width:700px) {
    .main--truck01 {
        flex-direction: row;
    }
    .main--truck-wrapper {
        max-height: 500px;
    }
}

@media screen and (min-width:800px) {
    .main--truck-models {
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
}